<%- include("partials/header") %>
<div class="container">
    <div class="row">
        <a href="/addDoctor" onclick="" class="btn btn-outline-info" style="height: 150px; width: 200px; margin:0 10px 0 10px; text-align: center; font-size: x-large;">Add Doctor<i class="fas fa-user-md fa-3x" ></i></a>
        <a href="/addPatient" class="btn btn-outline-info" style="height: 150px; width: 200px; margin:0 10px 0 10px; text-align: center; font-size: x-large;">Add Patient <i class="fas fa-hospital-user fa-3x" ></i></a>
        <a href="/discharge" class="btn btn-outline-info" style="height: 150px; width: 200px; margin:0 10px 0 10px; text-align: center; font-size: x-large;">Discharge <i class="fas fa-hospital-user fa-4x" ></i></a>
        <a href="/" class="btn btn-outline-info" style="height: 150px; width: 200px; margin:0 10px 0 10px; text-align: center; font-size: x-large;">LOGOUT<i class="fas fa-user-md fa-4x" ></i></a>
    </div>
    
  
 
   
</div>

 

