<%- include("partials/header") %>
<div class="container">
    <h1>hello!</h1>
    <div  style="height: 220px; width: 550px;">
     <form action="" method="post">
        <label class="input-label">Enter Your Weight</label>
        <input type="number" name="weight" class="form-control" step="any" id="" placeholder="Enter your Weight in Kg's">
        <label class="label-control">Enter Your Height</label>
        <input type="number" name="height" class="form-control" step="any" id="" placeholder="Enter your Height in feet's">
        <button style="margin: 20px 0;" type="submit" class="btn btn-lg btn-success">Submit</button>
    </form>
</div>
</div>