<%- include("partials/header") %>


    
      <div style="text-align: center;" class="container">
            <img src="/images/host.jpeg" alt="">
      
      <a href="/login" style="margin: 30px 5px;" class="btn btn-lg btn-dark "><i class="fas fa-user-graduate" style="margin-right: 10px;">  </i>Admin Login</a>
      <a href="/Login" style="margin: 30px 5px;" class="btn btn-outline-success btn-lg "><i class="fas fa-user-md" style="margin-right: 8px;">  </i>Doctor Login</a>
      <a href="/login" style="margin: 30px 5px;" class="btn btn-lg btn-dark "><i class="fas fa-hospital-user" style="margin-right: 8px;" ></i>  Patient SignIn</a>
       <div>
             <a href="/register" class="btn btn-outline-secondary btn-lg"><i class="fas fa-hospital-user" style="margin-right: 10px; padding-left: 15px;"  ></i>Patient Sing Up</a>
       </div>
      
      
      </div> 
      
<%- include("partials/footer") %>
