<%- include("partials/header") %>
<div  style="height: 400px; width: 550px; margin-left: 20px;">
    <form action="/login" method="POST">
    <div class="row">
     <label class="form-label">Email</label>
     <input type="text" name="email" class="form-control" id="" required>
    </div>
    <div class="row">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="" required>
    </div>
    <button style="margin-top: 20px;" type="submit" class="btn btn-success">Login</button>
    </form> 
</div> 



<%- include("partials/footer") %>